<h1>Introduction/Business Problem</h1>
<p>Company A is a Real Estate Agency that is working for corporations.
One of the biggest client (Company B) has offices in the following cities:
<ul>
    <li>Paris</li>
    <li>London</li>
    <li>Berlin</li>
    <li>New York</li>
    <li>Tokyo</li>
</ul>
Company B's employees are rotating between offices and there is a need to do house-hunting, which is a task for company A. Usually people want to live in similar district as before. For example, if today I am working in Tokyo and my next assignment is in Berlin I would like to find the place which will be similar to the one I have in Tokyo.
In this notebook, we will build the model which clusters all districts from the above cities and help Company A in finding the best places to live for their client.</p>

In [40]:
#!conda install -c conda-forge geopy --yes 
import numpy as np
import pandas as pd
import json
from geopy.geocoders import Nominatim
import requests

<h1>Data</h1>
<p>Data for this project will come from following sources: </p>
<ul>
    <li> Paris Data: https://www.data.gouv.fr/ </li>
    <li> Tokyo Data: https://en.wikipedia.org/wiki/Special_wards_of_Tokyo </li>
    <li> London Data: https://en.wikipedia.org/wiki/List_of_London_boroughs </li>
    <li> Berlin Data: https://en.wikipedia.org/wiki/Boroughs_and_neighborhoods_of_Berlin </li>
    <li> New York Data: https://en.wikipedia.org/wiki/Boroughs_of_New_York_City </li>
    
</ul>

<p>In this part of the notebook we will first get borough data for each city together with latitude and longitude, next we will gather all data together and create final_df which will contain following information:
    <ul>
        <li>City Name</li>
        <li>District Name</li>
        <li>Latitude</li>
        <li>Longitude</li>
    </ul>
    Then we will use final_df dataframe to get data regarding nearby venues for each district from Foursquare API</p>
    <p> For Paris I downloaded ready json file, for the rest I scraped data from Wikipedia page and found Lat and Lon using geopy </p>

<h2>Paris Data</h2>

In [35]:
!wget -q -O 'paris_data.json' https://www.data.gouv.fr/en/datasets/r/871c68bf-c92b-42a9-8dcc-910f9be0b870

In [36]:
with open('paris_data.json') as json_data:
    paris_data = json.load(json_data)

In [37]:
paris_data[0]

{'datasetid': 'arrondissements',
 'recordid': 'ed26ad57eff28ccd16d66834c44723d942771958',
 'fields': {'n_sq_co': 750001537,
  'perimetre': 13678.7983149,
  'l_ar': '15ème Ardt',
  'surface': 8494994.08101075,
  'geom_x_y': [48.8400853759, 2.29282582242],
  'geom': {'type': 'Polygon',
   'coordinates': [[[2.299322310264648, 48.852174427333274],
     [2.300883913456113, 48.851176131084145],
     [2.300964661201576, 48.85123012651538],
     [2.303746047913422, 48.84943929154836],
     [2.306149310004038, 48.84789994583024],
     [2.307339709005096, 48.847139376795404],
     [2.3080419591723302, 48.84739225374763],
     [2.308219888290114, 48.847434925901986],
     [2.310378251508753, 48.84795218786006],
     [2.310525952151246, 48.84798758363206],
     [2.311155377296785, 48.84757938949668],
     [2.311260835819493, 48.847510996658556],
     [2.311486631207579, 48.847368855176626],
     [2.311625847644086, 48.847281216555366],
     [2.311767709159531, 48.84719033639172],
     [2.312091028580114, 48.846983212758936],
     [2.313641280957853, 48.845990046203234],
     [2.313729873598172, 48.84593328656336],
     [2.316097509191232, 48.84666304155859],
     [2.316571525922003, 48.84682460831802],
     [2.319153027267032, 48.84550645000828],
     [2.320203391612104, 48.845113445692995],
     [2.321325396724957, 48.8447352715338],
     [2.323129381427535, 48.84414053394155],
     [2.323890891777365, 48.843889425220105],
     [2.32471189002934, 48.84361526577511],
     [2.322570044958972, 48.841890393574],
     [2.321602026621321, 48.841102325192885],
     [2.321490734267816, 48.84100934702557],
     [2.321836698659828, 48.840167786232456],
     [2.321374715979427, 48.83977687241745],
     [2.321133015885315, 48.83990094838003],
     [2.320724637783247, 48.84011058584135],
     [2.319939195940181, 48.84051377668539],
     [2.319927832747894, 48.84051961013507],
     [2.317364465099423, 48.8384189525743],
     [2.317193054852046, 48.838278473979834],
     [2.316699062531645, 48.83787362325417],
     [2.31669721853233, 48.83787211077305],
     [2.312902881374399, 48.83476216293958],
     [2.312902572759072, 48.83476190754367],
     [2.310798356891104, 48.83302913165219],
     [2.310787662686113, 48.833020166223896],
     [2.309843847684441, 48.832228821547474],
     [2.309590420822149, 48.83201133981759],
     [2.308502366635578, 48.83107589291412],
     [2.307658279765537, 48.83039868176493],
     [2.307133360252101, 48.829977525229204],
     [2.306180315934359, 48.82922221439382],
     [2.305499994346527, 48.82866619867055],
     [2.305191513369123, 48.82841503355383],
     [2.304526250495102, 48.82787102681967],
     [2.304147657275401, 48.827561431175084],
     [2.303618855091713, 48.82713007583391],
     [2.302390532894579, 48.82612630211567],
     [2.30171590358085, 48.82557477588442],
     [2.301711608156339, 48.82557126390237],
     [2.301589529555603, 48.82547146078805],
     [2.301462847503423, 48.82536789191969],
     [2.301351308913758, 48.82527670322188],
     [2.301269287192354, 48.82520964729869],
     [2.301265317891273, 48.825206401622786],
     [2.301201493746218, 48.82515422161616],
     [2.301076011751639, 48.82518153281009],
     [2.300862518321697, 48.82522799703528],
     [2.300412460766679, 48.82532594823191],
     [2.300336373830806, 48.82534250769801],
     [2.300223852624675, 48.82536699602069],
     [2.298411817165502, 48.82576133528394],
     [2.29737199101482, 48.82598760799991],
     [2.297195110581547, 48.8260260964256],
     [2.297071994670943, 48.82605288669194],
     [2.297018058917049, 48.82606493973824],
     [2.296912996359534, 48.82608841831553],
     [2.295218161334802, 48.82646714820056],
     [2.293918639630466, 48.82675751945996],
     [2.293816735886779, 48.826780289068346],
     [2.2937169211374, 48.826802590657984],
     [2.293685474448462, 48.826809617068676],
     [2.293409049024719, 48.82687137880091],
     [2.292814683654359, 48.82700417930781],
     [2.292759819565918, 48.827016438098696],
     [2.292679770310799, 48.82703432193339],
     [2.292560390392639, 48.82706099384893],
     [2.292406676292086, 48.82709533747977],
     [2.292223161328421, 48.827136338040525],
     [2.29200448986593, 48.82722828876825],
     [2.291988386932432, 48.82723506020712],
     [2.291722561936826, 48.827346837798984],
     [2.291295506229888, 48.82752640989267],
     [2.290933315304569, 48.827678703709054],
     [2.290817807498558, 48.82772727247248],
     [2.2893781156836273, 48.82833261375504],
     [2.289216165549354, 48.82840070574377],
     [2.288767042741744, 48.828589537908236],
     [2.288327760671687, 48.82877423042711],
     [2.288312454192127, 48.828780664342474],
     [2.2882790694930772, 48.82879470195441],
     [2.287569659661304, 48.829092959280764],
     [2.286699715262023, 48.82945870947902],
     [2.285957772637954, 48.82977064056127],
     [2.285029182328674, 48.83016103020956],
     [2.284935662670389, 48.83020034597099],
     [2.284762468359414, 48.83027315654777],
     [2.284578225946606, 48.83035061263051],
     [2.283316021740521, 48.83088122506213],
     [2.282930952720034, 48.83102278247716],
     [2.282850806764349, 48.83105224494136],
     [2.281834079603088, 48.83142599930936],
     [2.280647144226758, 48.83186230382924],
     [2.280491950222503, 48.83191935051589],
     [2.280439176815068, 48.83193874919451],
     [2.280373551634879, 48.83196287140371],
     [2.280235631476907, 48.83201356775175],
     [2.279192976720799, 48.832396813650604],
     [2.279132205819561, 48.83241915038561],
     [2.279028002946965, 48.83245745096407],
     [2.276674483907589, 48.830541677646],
     [2.275899378685754, 48.82991069419674],
     [2.275507080892161, 48.82959133266143],
     [2.275475855413487, 48.829572534416165],
     [2.275236763943414, 48.82942859237016],
     [2.274815428572505, 48.82917493206237],
     [2.273461523651666, 48.82835979787801],
     [2.273261915519614, 48.82823961755002],
     [2.273141561828548, 48.828167155026726],
     [2.273136944592185, 48.828164374855426],
     [2.27309061687056, 48.82813648224958],
     [2.272930998399329, 48.82804037711926],
     [2.272744875520202, 48.827928313842555],
     [2.272742861345476, 48.82792827731076],
     [2.272057947190585, 48.827915920515856],
     [2.267831169293233, 48.82783956816272],
     [2.267814027894556, 48.82784991584418],
     [2.267636894122208, 48.82795685159581],
     [2.267631459993518, 48.82796017211592],
     [2.267534722565149, 48.829058837913756],
     [2.267323612916808, 48.83145632392742],
     [2.267321077634575, 48.83148511553382],
     [2.267320469671936, 48.831492024443065],
     [2.267335224021148, 48.831521726010166],
     [2.267340735201153, 48.83153282124366],
     [2.267340980314403, 48.83153331290722],
     [2.267384521574053, 48.83156357124591],
     [2.267606885831736, 48.83171809659751],
     [2.268603472235089, 48.83228110342919],
     [2.268603962950321, 48.83228137444501],
     [2.269117412690544, 48.83256422094421],
     [2.269201407394898, 48.83261049099209],
     [2.269442820658476, 48.832743478374994],
     [2.269574801152491, 48.83281618078286],
     [2.269653459412832, 48.83285951021722],
     [2.269971011087537, 48.83297218215593],
     [2.270041629237647, 48.83299723724775],
     [2.270041276947994, 48.832997489621775],
     [2.270040434762549, 48.832998092461594],
     [2.270032837206727, 48.833003530501855],
     [2.2699534694903, 48.83306033378286],
     [2.269848889615929, 48.83313518111952],
     [2.269446939060851, 48.833422852574415],
     [2.268533909245365, 48.834076281559895],
     [2.267854658673914, 48.83456238530916],
     [2.267852891639607, 48.83456267938169],
     [2.267834582183121, 48.83456572861549],
     [2.267799795851003, 48.83457152171239],
     [2.26742262427665, 48.83463433701578],
     [2.267363822997306, 48.83464412992574],
     [2.267299969111107, 48.83465476335214],
     [2.267011865908545, 48.83460448302074],
     [2.266100788726605, 48.83444547772628],
     [2.266079829833928, 48.8344418199654],
     [2.265155574533851, 48.83428050508731],
     [2.265141117326698, 48.83427798074895],
     [2.265134636182156, 48.834276849084404],
     [2.264788076181329, 48.83421637937743],
     [2.264684263808992, 48.834198265396616],
     [2.264537926653224, 48.83417273079959],
     [2.2645291406448482, 48.83417119729745],
     [2.264360295704748, 48.83414173499804],
     [2.262963623864672, 48.833898014883836],
     [2.262958538495928, 48.83389712733858],
     [2.263706750271844, 48.8346631976302],
     [2.265174896626455, 48.83616630008329],
     [2.267590454623051, 48.838518675049876],
     [2.268304618625026, 48.83928762584221],
     [2.2684176607078, 48.83940981720572],
     [2.269233877183973, 48.84028836096023],
     [2.269599146626912, 48.840681227024994],
     [2.2697770880534662, 48.84087275363059],
     [2.27095234905719, 48.84207588553524],
     [2.271568055051222, 48.84273255419861],
     [2.272245850202753, 48.84340635759694],
     [2.273087224444252, 48.84425737308042],
     [2.27336326299779, 48.84453656739096],
     [2.273388656045711, 48.844561943520134],
     [2.273440651715914, 48.84461390556209],
     [2.274147901011459, 48.84534369220689],
     [2.275200684938977, 48.846429556165994],
     [2.275389975270346, 48.84662471423127],
     [2.275714598569264, 48.84695956163105],
     [2.276989256852547, 48.84804830677066],
     [2.277987233994586, 48.84884009986008],
     [2.279156978646894, 48.849768071698996],
     [2.279551771839244, 48.8500574258004],
     [2.279687738486056, 48.85015707911054],
     [2.279820393611858, 48.85025430292658],
     [2.279959785335137, 48.850356465957795],
     [2.280102344698393, 48.850456656683065],
     [2.280882132871402, 48.85100468086443],
     [2.2823892891780693, 48.85206383944171],
     [2.282686266067631, 48.85227351753799],
     [2.2827455064209152, 48.852315330539376],
     [2.282762457515431, 48.852327294730244],
     [2.282791458882652, 48.8523477653622],
     [2.282840270138351, 48.852382215682105],
     [2.282996863260312, 48.852491281677935],
     [2.283694712132378, 48.85298022335058],
     [2.284358535791947, 48.85344531117878],
     [2.284816585566183, 48.853774987093374],
     [2.285756106760199, 48.854451176877376],
     [2.2859133320373948, 48.854564137678466],
     [2.28591410939242, 48.85456469722224],
     [2.285990028481141, 48.85461924223341],
     [2.287410580467432, 48.8556215549146],
     [2.287437188150803, 48.85564032828318],
     [2.287508774260326, 48.85569083711735],
     [2.287510384692011, 48.855691972702935],
     [2.287537488881679, 48.85571112043891],
     [2.287568946810782, 48.85573361631909],
     [2.287594737526207, 48.85575174264423],
     [2.287652427529106, 48.855792288304116],
     [2.287913604130975, 48.85597646018799],
     [2.287976741221278, 48.856023962252124],
     [2.288106053799724, 48.856121254327924],
     [2.288335561248286, 48.856531779581445],
     [2.288476981147322, 48.85676103216084],
     [2.288585650439515, 48.85693719052853],
     [2.288726971095311, 48.85714811502999],
     [2.288853604944625, 48.85733712105006],
     [2.288866265474489, 48.85735529584472],
     [2.288910545466269, 48.85741700303566],
     [2.288940302714653, 48.85745847112639],
     [2.289007548819246, 48.857540155446905],
     [2.289056833076756, 48.85759403552591],
     [2.289129267169513, 48.85766411921116],
     [2.289839040379379, 48.858240852910015],
     [2.290327420911721, 48.85792921935711],
     [2.290337220001545, 48.85792296668829],
     [2.290340730189204, 48.857920726523844],
     [2.290347016363241, 48.85791671400249],
     [2.290356811347552, 48.85791046220704],
     [2.290366607692297, 48.85790421041883],
     [2.290376402684053, 48.85789795772246],
     [2.290386199024097, 48.857891705932566],
     [2.290395995361893, 48.85788545414185],
     [2.290405790358843, 48.85787920054366],
     [2.290411987116157, 48.85787524774541],
     [2.290415586679587, 48.85787294965055],
     [2.29042538165969, 48.85786669694998],
     [2.290435177987979, 48.8578604451559],
     [2.2904449743139192, 48.85785419336102],
     [2.290454769274722, 48.85784794155719],
     [2.290464565608205, 48.857841688861356],
     [2.290474361951584, 48.857835435265365],
     [2.290484158268119, 48.85782918346714],
     [2.290493953219519, 48.85782293165997],
     [2.290503749531353, 48.85781667986005],
     [2.290513543127311, 48.857810427143825],
     [2.290523340797328, 48.8578041753503],
     [2.290533137114455, 48.8577979226486],
     [2.290542932054, 48.857791670837265],
     [2.290549110963099, 48.857787726020156],
     [2.290552728354078, 48.857785419033156],
     [2.290562527353085, 48.85777916904292],
     [2.290572326349741, 48.85777291905187],
     [2.290582125356189, 48.857766668160714],
     [2.290591924335898, 48.857760419067276],
     [2.290601723337746, 48.85775416817441],
     [2.290611522324999, 48.85774791817999],
     [2.290621248453761, 48.85774171362002],
     [2.29070227350634, 48.85769001146594],
     [2.290780998017134, 48.85763978855226],
     [2.292935322260579, 48.85626502245174],
     [2.293079176013769, 48.85617407768941],
     [2.29574570829236, 48.85446598873217],
     [2.295868050746559, 48.854387490546586],
     [2.295929526344629, 48.85434804668676],
     [2.297388894455644, 48.85341164261926],
     [2.297923418787436, 48.853068650104696],
     [2.299322310264648, 48.852174427333274]]]},
  'n_sq_ar': 750000015,
  'l_aroff': 'Vaugirard',
  'c_arinsee': 75115,
  'c_ar': 15},
 'geometry': {'type': 'Point', 'coordinates': [2.29282582242, 48.8400853759]},
 'record_timestamp': '2020-08-03T10:00:23.921+02:00'}

In [38]:
column_names = ['City', 'District', 'Latitude', 'Longitude']
paris_district=pd.DataFrame(columns=column_names)
for data in paris_data:
    district_name=data['fields']['l_aroff']
    latlon=data['geometry']['coordinates']
    lon=latlon[0]
    lat=latlon[1]
    paris_district=paris_district.append({'City': 'Paris', 'District' : district_name, 'Latitude': lat, 'Longitude': lon}, ignore_index=True)
paris_district

     City             District   Latitude  Longitude
0   Paris            Vaugirard  48.840085   2.292826
1   Paris                Opéra  48.877164   2.337458
2   Paris    Buttes-Montmartre  48.892569   2.348161
3   Paris           Luxembourg  48.849130   2.332898
4   Paris              Reuilly  48.834974   2.421325
5   Paris  Batignolles-Monceau  48.887327   2.306777
6   Paris         Ménilmontant  48.863461   2.401188
7   Paris               Louvre  48.862563   2.336443
8   Paris               Bourse  48.868279   2.342803
9   Paris      Buttes-Chaumont  48.887076   2.384821
10  Paris             Panthéon  48.844443   2.350715
11  Paris               Élysée  48.872721   2.312554
12  Paris                Passy  48.860392   2.261971
13  Paris             Entrepôt  48.876130   2.360728
14  Paris       Hôtel-de-Ville  48.854341   2.357630
15  Paris         Observatoire  48.829245   2.326542
16  Paris           Popincourt  48.859059   2.380058
17  Paris             Gobelins  48.828388   2.362272
18  Paris               Temple  48.862872   2.360001
19  Paris       Palais-Bourbon  48.856174   2.312188

<h2>Tokyo Data</h2>

In [3]:
tokyo_data=pd.read_html('https://en.wikipedia.org/wiki/Special_wards_of_Tokyo')
tokyo_data[3]['Name']

0        Chiyoda
1           Chūō
2         Minato
3       Shinjuku
4         Bunkyō
5          Taitō
6         Sumida
7           Kōtō
8      Shinagawa
9         Meguro
10           Ōta
11      Setagaya
12       Shibuya
13        Nakano
14      Suginami
15       Toshima
16          Kita
17       Arakawa
18      Itabashi
19        Nerima
20        Adachi
21    Katsushika
22       Edogawa
23       Overall
Name: Name, dtype: object

In [6]:
geolocator = Nominatim(user_agent="lat_lon_data")
#function to get lan and lon
def get_lon_lat(name_list, city_name, column_names):
    final_df=pd.DataFrame(columns=column_names)
    for singleName in name_list:
        location=geolocator.geocode(singleName)
        lat = location.latitude
        lon = location.longitude
        final_df=final_df.append({'City': city_name, 'District' : singleName, 'Latitude': lat, 'Longitude': lon}, ignore_index=True)
    return final_df
column_names = ['City', 'District', 'Latitude', 'Longitude']

In [7]:
tokyo_district=get_lon_lat(tokyo_data[3]['Name'], 'Tokyo', column_names)
tokyo_district

     City    District   Latitude   Longitude
0   Tokyo     Chiyoda  35.693810  139.753216
1   Tokyo        Chūō  35.666255  139.775565
2   Tokyo      Minato  35.643227  139.740055
3   Tokyo    Shinjuku  35.693763  139.703632
4   Tokyo      Bunkyō  35.718810  139.744732
5   Tokyo       Taitō  35.717450  139.790859
6   Tokyo      Sumida  35.700429  139.805017
7   Tokyo        Kōtō  35.649154  139.812790
8   Tokyo   Shinagawa  35.599252  139.738910
9   Tokyo      Meguro  35.621250  139.688014
10  Tokyo         Ōta  35.561206  139.715843
11  Tokyo    Setagaya  35.646096  139.656270
12  Tokyo     Shibuya  35.664596  139.698711
13  Tokyo      Nakano  35.718123  139.664468
14  Tokyo    Suginami  35.699493  139.636288
15  Tokyo     Toshima  35.736156  139.714222
16  Tokyo        Kita  -0.220164  -78.512327
17  Tokyo     Arakawa  35.737529  139.781310
18  Tokyo    Itabashi  35.774143  139.681209
19  Tokyo      Nerima  35.748360  139.638735
20  Tokyo      Adachi  35.783703  139.795319
21  Tokyo  Katsushika  35.751733  139.863816
22  Tokyo     Edogawa  35.678278  139.871091
23  Tokyo     Overall  38.805625  -78.344724

<h2>London Data</h2>

In [15]:
def cleanData(x):
    if str(x).find("[")>-1:
        return x[:str(x).find("[")-1]
    else:
        return x

london_data=pd.read_html('https://en.wikipedia.org/wiki/List_of_London_boroughs')
london_data[0]['Borough']=london_data[0][['Borough']].applymap(cleanData)
london_data[0]['Borough']

0       Barking and Dagenham
1                     Barnet
2                     Bexley
3                      Brent
4                    Bromley
5                     Camden
6                    Croydon
7                     Ealing
8                    Enfield
9                  Greenwich
10                   Hackney
11    Hammersmith and Fulham
12                  Haringey
13                    Harrow
14                  Havering
15                Hillingdon
16                  Hounslow
17                 Islington
18    Kensington and Chelsea
19      Kingston upon Thames
20                   Lambeth
21                  Lewisham
22                    Merton
23                    Newham
24                 Redbridge
25      Richmond upon Thames
26                 Southwark
27                    Sutton
28             Tower Hamlets
29            Waltham Forest
30                Wandsworth
31               Westminster
Name: Borough, dtype: object

In [16]:
london_district=get_lon_lat(london_data[0]['Borough'], 'London', column_names)
london_district

      City                District   Latitude   Longitude
0   London    Barking and Dagenham  51.554117    0.150504
1   London                  Barnet  51.653090   -0.200226
2   London                  Bexley  39.969238  -82.936864
3   London                   Brent  32.937346  -87.164718
4   London                 Bromley  51.402805    0.014814
5   London                  Camden  39.944840  -75.119891
6   London                 Croydon  51.371305   -0.101957
7   London                  Ealing  51.512655   -0.305195
8   London                 Enfield  51.652085   -0.081018
9   London               Greenwich  51.482084   -0.004542
10  London                 Hackney  51.543240   -0.049362
11  London  Hammersmith and Fulham  51.492038   -0.223640
12  London                Haringey  51.587930   -0.105410
13  London                  Harrow  51.596827   -0.337316
14  London                Havering  51.004361   -2.337475
15  London              Hillingdon  51.542519   -0.448335
16  London                Hounslow  51.468613   -0.361347
17  London               Islington  51.538429   -0.099905
18  London  Kensington and Chelsea  51.487542   -0.168220
19  London    Kingston upon Thames  51.409627   -0.306262
20  London                 Lambeth  51.501301   -0.117287
21  London                Lewisham  51.462432   -0.010133
22  London                  Merton  51.410803   -0.188099
23  London                  Newham  51.530000    0.029318
24  London               Redbridge  51.576320    0.045410
25  London    Richmond upon Thames  51.440372   -0.305720
26  London               Southwark  51.502922   -0.103458
27  London                  Sutton  30.567295 -100.643236
28  London           Tower Hamlets  51.128863    1.298669
29  London          Waltham Forest  42.375640  -71.235800
30  London              Wandsworth  51.457027   -0.193261
31  London             Westminster  51.500444   -0.126540

<h2>Berlin Data</h2>

In [17]:
berlin_data=pd.read_html('https://en.wikipedia.org/wiki/Boroughs_and_neighborhoods_of_Berlin')
berlin_data[0]

,Borough,Population 31 March 2010,Area in km²,Density per km²,Map
0,Charlottenburg-Wilmersdorf,319628,64.72,4878,NaN
1,Friedrichshain-Kreuzberg,268225,20.16,13187,NaN
2,Lichtenberg,259881,52.29,4952,NaN
3,Marzahn-Hellersdorf,248264,61.74,4046,NaN
4,Mitte,332919,39.47,8272,NaN
5,Neukölln,310283,44.93,6804,NaN
6,Pankow,366441,103.01,3476,NaN
7,Reinickendorf,240454,89.46,2712,NaN
8,Spandau,223962,91.91,2441,NaN
9,Steglitz-Zehlendorf,293989,102.50,2818,NaN
10,Tempelhof-Schöneberg,335060,53.09,6256,NaN
11,Treptow-Köpenick,241335,168.42,1406,NaN

In [18]:
berlin_district=get_lon_lat(berlin_data[0]['Borough'], 'Berlin', column_names)
berlin_district

      City                    District   Latitude  Longitude
0   Berlin  Charlottenburg-Wilmersdorf  52.507856  13.263952
1   Berlin    Friedrichshain-Kreuzberg  52.515306  13.461612
2   Berlin                 Lichtenberg  48.921296   7.481227
3   Berlin         Marzahn-Hellersdorf  52.522523  13.587663
4   Berlin                       Mitte  52.517690  13.402376
5   Berlin                    Neukölln  52.481150  13.435350
6   Berlin                      Pankow  52.597637  13.436374
7   Berlin               Reinickendorf  52.604763  13.295287
8   Berlin                     Spandau  52.535788  13.197792
9   Berlin         Steglitz-Zehlendorf  52.429205  13.229974
10  Berlin        Tempelhof-Schöneberg  52.440603  13.373703
11  Berlin            Treptow-Köpenick  52.417893  13.600185

<h2>New York Data</h2>

In [33]:
new_york_data=pd.read_html('https://en.wikipedia.org/wiki/Boroughs_of_New_York_City')
ny_data=new_york_data[0][0:5]
ny_data.columns=['Borough', 'Val1', 'Val1', 'Val1', 'Val1', 'Val1', 'Val1', 'Val1', 'Val1']

,Borough,Val1,Val1,Val1,Val1,Val1,Val1,Val1,Val1
0,The Bronx,Bronx,1418207,42.695,30100,42.10,109.04,33867,13006
1,Brooklyn,Kings,2559903,91.559,35800,70.82,183.42,36147,13957
2,Manhattan,New York,1628706,600.244,368500,22.83,59.13,71341,27544
3,Queens,Queens,2253858,93.310,41400,108.53,281.09,20767,8018
4,Staten Island,Richmond,476143,14.514,30500,58.37,151.18,8157,3150

In [34]:
ny_district=get_lon_lat(ny_data['Borough'], 'NY', column_names)
ny_district

  City       District   Latitude  Longitude
0   NY      The Bronx  40.846651 -73.878594
1   NY       Brooklyn  40.650104 -73.949582
2   NY      Manhattan  40.789624 -73.959894
3   NY         Queens  40.749824 -73.797634
4   NY  Staten Island  40.583456 -74.149605

<h2>Gather Data Into One DataFrame (final_df)</h2>

In [81]:
frames=[paris_district, tokyo_district, london_district, berlin_district, ny_district]
final_df=pd.concat(frames)
final_df.reset_index(drop=True, inplace=True)
final_df

      City                    District   Latitude   Longitude
0    Paris                   Vaugirard  48.840085    2.292826
1    Paris                       Opéra  48.877164    2.337458
2    Paris           Buttes-Montmartre  48.892569    2.348161
3    Paris                  Luxembourg  48.849130    2.332898
4    Paris                     Reuilly  48.834974    2.421325
5    Paris         Batignolles-Monceau  48.887327    2.306777
6    Paris                Ménilmontant  48.863461    2.401188
7    Paris                      Louvre  48.862563    2.336443
8    Paris                      Bourse  48.868279    2.342803
9    Paris             Buttes-Chaumont  48.887076    2.384821
10   Paris                    Panthéon  48.844443    2.350715
11   Paris                      Élysée  48.872721    2.312554
12   Paris                       Passy  48.860392    2.261971
13   Paris                    Entrepôt  48.876130    2.360728
14   Paris              Hôtel-de-Ville  48.854341    2.357630
15   Paris                Observatoire  48.829245    2.326542
16   Paris                  Popincourt  48.859059    2.380058
17   Paris                    Gobelins  48.828388    2.362272
18   Paris                      Temple  48.862872    2.360001
19   Paris              Palais-Bourbon  48.856174    2.312188
20   Tokyo                     Chiyoda  35.693810  139.753216
21   Tokyo                        Chūō  35.666255  139.775565
22   Tokyo                      Minato  35.643227  139.740055
23   Tokyo                    Shinjuku  35.693763  139.703632
24   Tokyo                      Bunkyō  35.718810  139.744732
25   Tokyo                       Taitō  35.717450  139.790859
26   Tokyo                      Sumida  35.700429  139.805017
27   Tokyo                        Kōtō  35.649154  139.812790
28   Tokyo                   Shinagawa  35.599252  139.738910
29   Tokyo                      Meguro  35.621250  139.688014
..     ...                         ...        ...         ...
63  London        Kingston upon Thames  51.409627   -0.306262
64  London                     Lambeth  51.501301   -0.117287
65  London                    Lewisham  51.462432   -0.010133
66  London                      Merton  51.410803   -0.188099
67  London                      Newham  51.530000    0.029318
68  London                   Redbridge  51.576320    0.045410
69  London        Richmond upon Thames  51.440372   -0.305720
70  London                   Southwark  51.502922   -0.103458
71  London                      Sutton  30.567295 -100.643236
72  London               Tower Hamlets  51.128863    1.298669
73  London              Waltham Forest  42.375640  -71.235800
74  London                  Wandsworth  51.457027   -0.193261
75  London                 Westminster  51.500444   -0.126540
76  Berlin  Charlottenburg-Wilmersdorf  52.507856   13.263952
77  Berlin    Friedrichshain-Kreuzberg  52.515306   13.461612
78  Berlin                 Lichtenberg  48.921296    7.481227
79  Berlin         Marzahn-Hellersdorf  52.522523   13.587663
80  Berlin                       Mitte  52.517690   13.402376
81  Berlin                    Neukölln  52.481150   13.435350
82  Berlin                      Pankow  52.597637   13.436374
83  Berlin               Reinickendorf  52.604763   13.295287
84  Berlin                     Spandau  52.535788   13.197792
85  Berlin         Steglitz-Zehlendorf  52.429205   13.229974
86  Berlin        Tempelhof-Schöneberg  52.440603   13.373703
87  Berlin            Treptow-Köpenick  52.417893   13.600185
88      NY                   The Bronx  40.846651  -73.878594
89      NY                    Brooklyn  40.650104  -73.949582
90      NY                   Manhattan  40.789624  -73.959894
91      NY                      Queens  40.749824  -73.797634
92      NY               Staten Island  40.583456  -74.149605

[93 rows x 4 columns]

<h2>Get Data From Foursquare to get nearby venues</h2>

In [42]:
#Foursquare API:
CLIENT_ID = '' 
CLIENT_SECRET = ''
VERSION = '20180605' 
LIMIT = 100

In [77]:
def getNearbyPlaces(district_data, radius=1000):
    places_list=[]
    for index, singleRow in district_data.iterrows():
        try:
            url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
                CLIENT_ID, 
                CLIENT_SECRET, 
                VERSION, 
                float(singleRow['Latitude']), 
                float(singleRow['Longitude']), 
                radius, 
                LIMIT)
            results = requests.get(url).json()["response"]['groups'][0]['items']
            places_list.append([(
                singleRow['City'],
                singleRow['District'], 
                singleRow['Latitude'], 
                singleRow['Longitude'],
                p['venue']['name'], 
                p['venue']['location']['lat'], 
                p['venue']['location']['lng'],  
                p['venue']['categories'][0]['name']) for p in results])
        except:
            pass
    nearby_places = pd.DataFrame([item for place_list in places_list for item in place_list])
    nearby_places.columns = ['City', 
                            'District',
                  'District Latitude', 
                  'District Longitude', 
                  'Place', 
                  'Place Latitude', 
                  'Place Longitude', 
                  'Place Category']
    
    return(nearby_places)

In [78]:
near_places=getNearbyPlaces(final_df)

In [79]:
near_places

,City,District,District Latitude,District Longitude,Place,Place Latitude,Place Longitude,Place Category
0,Paris,Vaugirard,48.840085,2.292826,Indian Villa,48.841116,2.291621,Indian Restaurant
1,Paris,Vaugirard,48.840085,2.292826,Le Grand Venise,48.838276,2.294484,Italian Restaurant
2,Paris,Vaugirard,48.840085,2.292826,La Table Libanaise,48.841766,2.288607,Lebanese Restaurant
3,Paris,Vaugirard,48.840085,2.292826,Square Saint-Lambert,48.842343,2.297108,Park
4,Paris,Vaugirard,48.840085,2.292826,AlKaram,48.838379,2.297156,Lebanese Restaurant
5,Paris,Vaugirard,48.840085,2.292826,Amorino,48.844064,2.293377,Ice Cream Shop
6,Paris,Vaugirard,48.840085,2.292826,Afaria,48.836049,2.291783,Basque Restaurant
7,Paris,Vaugirard,48.840085,2.292826,Square Violet,48.844010,2.289383,Park
8,Paris,Vaugirard,48.840085,2.292826,CrossFit Lutèce,48.840888,2.292199,Gym
9,Paris,Vaugirard,48.840085,2.292826,The 3 Ducks Bar,48.843487,2.292473,Hotel Bar
10,Paris,Vaugirard,48.840085,2.292826,Le Comptoir,48.835645,2.293037,Sports Bar
11,Paris,Vaugirard,48.840085,2.292826,Chez Mademoiselle,48.843589,2.295248,Russian Restaurant
12,Paris,Vaugirard,48.840085,2.292826,Les Trois Garçons,48.841354,2.291299,French Restaurant
13,Paris,Vaugirard,48.840085,2.292826,The 3 Ducks Hostel Paris,48.843503,2.292587,Hostel
14,Paris,Vaugirard,48.840085,2.292826,Le Divan,48.836662,2.298837,Bookstore
15,Paris,Vaugirard,48.840085,2.292826,Place du Commerce,48.844528,2.293894,Plaza
16,Paris,Vaugirard,48.840085,2.292826,Songsan,48.836642,2.299388,Korean Restaurant
17,Paris,Vaugirard,48.840085,2.292826,La Véraison,48.844951,2.297379,French Restaurant
18,Paris,Vaugirard,48.840085,2.292826,Via Del Gusto,48.836361,2.294499,Italian Restaurant
19,Paris,Vaugirard,48.840085,2.292826,Restaurant Perchiana,48.843618,2.293993,Persian Restaurant
20,Paris,Vaugirard,48.840085,2.292826,Je thé...me,48.838866,2.300375,French Restaurant
21,Paris,Vaugirard,48.840085,2.292826,Hôtel Mercure Paris 15 Porte de Versailles,48.838372,2.290500,Hotel
22,Paris,Vaugirard,48.840085,2.292826,Bacco,48.843619,2.294476,Italian Restaurant
23,Paris,Vaugirard,48.840085,2.292826,L'Argument,48.840737,2.288961,Restaurant
24,Paris,Vaugirard,48.840085,2.292826,Thai at Home,48.843623,2.295293,Thai Restaurant
25,Paris,Vaugirard,48.840085,2.292826,Au Bureau,48.843427,2.293419,Brasserie
26,Paris,Vaugirard,48.840085,2.292826,Naturellement,48.843706,2.296601,Italian Restaurant
27,Paris,Vaugirard,48.840085,2.292826,Axuria,48.840709,2.286971,French Restaurant
28,Paris,Vaugirard,48.840085,2.292826,Chiang Rai Mai,48.836044,2.291941,Thai Restaurant
29,Paris,Vaugirard,48.840085,2.292826,Autour du Saumon,48.840701,2.288777,Scandinavian Restaurant
...,...,...,...,...,...,...,...,...
6470,NY,Queens,40.749824,-73.797634,San Soo Kap San,40.757824,-73.795449,Korean Restaurant
6471,NY,Queens,40.749824,-73.797634,Western Riding Club,40.749359,-73.797699,Sports Club
6472,NY,Queens,40.749824,-73.797634,Underhill Ave Bike Trail,40.747286,-73.799391,Bike Trail
6473,NY,Queens,40.749824,-73.797634,MTA - Q65 Bus Stop,40.748537,-73.801613,Bus Station
6474,NY,Queens,40.749824,-73.797634,Liquor Locker,40.753188,-73.792766,Liquor Store
6475,NY,Queens,40.749824,-73.797634,Neil's Natural Market,40.752728,-73.791832,Grocery Store
6476,NY,Queens,40.749824,-73.797634,Martin's Field,40.753976,-73.803075,Park
6477,NY,Queens,40.749824,-73.797634,Kissena Lake,40.748903,-73.805861,Lake
6478,NY,Queens,40.749824,-73.797634,Best Q Nail,40.753551,-73.805237,Spa
6479,NY,Queens,40.749824,-73.797634,New York Reef Aquatic,40.754662,-73.805038,Pet Store
6480,NY,Queens,40.749824,-73.797634,Dance Creations By Laurie,40.752083,-73.788094,Arts & Entertainment
6481,NY,Queens,40.749824,-73.797634,Gabriella's Family Pizza,40.756379,-73.804426,Pizza Place
6482,NY,Queens,40.749824,-73.797634,MooKyoDong YooJung Nakji (무교동 유정낙지),40.758223,-73.795791,Korean Restaurant
6483,NY,Queens,40.749824,-73.797634,Basak chicken,40.758197,-73.795486,Fried Chicken Joint
6484,NY,Queens,40.749824,-73.797634,Queen Bee Deli,40.756464,-73.804755,Deli / Bodega
6485,NY,Queens,40.749824,-73.797634,Muhsins Halal Food,40.757811,-73.793441,Food Truck
6486,NY,Queens,40.749824,-73.797634,Underhill Playground,40.744908,-73.787846,Playground
6487,NY,Queens,40.749824,-73.797634,Plautt Triangle,40.758632,-73.799490,Park
6488,NY,Staten Island,40.583456,-74.149605,Greenbelt Nature Center,40.586616,-74.146917,Trail
6489,NY,Staten Island,40.583456,-74.149605,La Tourette Golf Course,40.575603,-74.147487,Golf Course
6490,NY,Staten Island,40.583456,-74.149605,La Tourette Golf Course,40.576122,-74.146822,Golf Course
6491,NY,Staten Island,40.583456,-74.149605,SUBWAY,40.587029,-74.152155,Sandwich Place
6492,NY,Staten Island,40.583456,-74.149605,CVS pharmacy,40.581150,-74.156524,Pharmacy
6493,NY,Staten Island,40.583456,-74.149605,Greenbelt Trail,40.586655,-74.147020,Trail
6494,NY,Staten Island,40.583456,-74.149605,LaTourette Park,40.581923,-74.142737,Park
6495,NY,Staten Island,40.583456,-74.149605,MTA Bus - Forest Hill Rd & Rockland Av (S61/S9...,40.588822,-74.146873,Bus Stop
6496,NY,Staten Island,40.583456,-74.149605,Marsh Ave,40.581331,-74.157746,Moving Target
6497,NY,Staten Island,40.583456,-74.149605,Doctor Computers,40.591361,-74.153617,IT Services
6498,NY,Staten Island,40.583456,-74.149605,MTA Bus - Marsh Av & Ring Rd (S44/S55/S56/S59/...,40.584248,-74.160776,Bus Stop
6499,NY,Staten Island,40.583456,-74.149605,MTA Bus - Travis Av & Evans St (S61/S91/X31),40.591590,-74.153850,Bus Stop